.aks-input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 42%;
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  /*! margin-left:-12px; */
  cursor: pointer;
  /*! border: 0.1rem solid #bbc1e1; */
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aks-input[type="text"]:hover {
  border-color: white;
}
.aks-input[type="text"]:focus {

}



.price{

width:32%;
border-radius: 7px;
border: 0.1rem solid #bbc1e1;
padding: 8px 10px;

}

.button-form {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  width: 98px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}
.button-form span{
 display: inline-block;
  transform: skew(21deg);
}

.button-form::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(0, 0, 0);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.button-form:hover {
  color: #fff;
}

.button-form:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}











.input {
  width:100%;
  line-height: 30px;
  padding: 8px 10px;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  color: #000;
  transition: .5s ease;
}

.iconTS {

  position: absolute;
  left: 0.7rem;
  display:flex;
  top:15px;
  background-color: #57c069;
  color: #fff;
  font-size: 20px;
  height: 24px;
  width: 24px;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  padding:3px;
  visibility:collapse;

}

.iconTS.active{
      visibility:visible;
}


.iconTE {
  position: absolute;
    left: 0.7rem;
    display:flex;
    top:15px;
    background-color: #d51b1b;
    color: #fff;
    font-size: 20px;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    padding:3px;
    visibility:collapse;

}

.iconTE.active{
      visibility:visible;
}



