.bodyCT {
    font-family: Arial, sans-serif;
    background-color:black;
}

.containerCT {
    width: 100%;
    margin: 0 auto;
}

.h1CT {
    color: #333;
    text-align: center;
}

.sectionCT {
    margin-bottom: 2rem;
}

.h2CT {
    color: #777;
    margin-bottom: 1rem;
}

.tableCT {
    width: 100%;
    border-collapse: separate;
    border-style: none;
    border-color: inherit;
    border-spacing: 0;
    border: 0 solid #fff;
    text-align: left;
    text-indent: 0;
}

th, td {
    text-align: center;
    font-size: .75rem;
    line-height: 2rem;
    padding-right: .75rem;
    color: rgba(239,245,255,.639);
    border-color: rgba(212,228,254,.191);
    border-top-width: 1px;
    border-bottom-width: 1px;
}



tr th:first-child{
width: 100px;
    text-align: left;
        border-bottom-left-radius: 19.4rem;
        color: rgba(239,245,255,.693);

        line-height: 2rem;
        padding-left: .75rem;
        padding-right: .75rem;
        font-size: .75rem;
        line-height: 1rem;
        border-left-width: 1px;
        border-top-left-radius: .375rem;
        border-bottom-left-radius: .375rem;
        color: rgba(239,245,255,.639);
        border-color: rgba(212,228,254,.191);
        border-top-width: 1px;
        border-bottom-width: 1px;
}


tr th:last-child{
        text-align: center;
        border-bottom-right-radius: 19.4rem;
        color: rgba(239,245,255,.693);

        line-height: 2rem;
        /*! padding-left: -0.3rem; */
        padding-right: .75rem;
font-size: .75rem;
  line-height: 1rem;
        border-right-width:1px;
        border-top-right-radius: .375rem;
        border-bottom-right-radius: .375rem;
        color: rgba(239,245,255,.639);
        border-color: rgba(212,228,254,.191);
        border-top-width: 1px;
        border-bottom-width: 1px;
}


*,
:after,
:before {
  box-sizing:border-box;
  border:0 solid #fff;
}








.container2CT {
 top: calc(100vh - 80%);
 padding:1.5rem;
 background-color:rgb(5 5 10/5);
 left:0;
 right:0;
 z-index:40;
 top:-200%;
 border-color:rgba(212,228,254,.191);
 border-width:1px;
 border-radius:.5rem;
 max-width:28rem;
 width:100%;
 margin-left:auto;
 margin-right:auto;
 position:fixed;
 transform: translate(0,-50%) scale(0.5);
 transition: opacity 300ms ease-in-out,top 1000ms ease-in-out,transform 1000ms ease-in-out;
 opacity:0;

}

.container2CT.active{
 opacity:1;
 top:50%;
transform:translate(0,-50%) scale(1);
transition:transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}


.boxCT {

flex-direction:column;
display:flex;
margin-top:1.5rem;
}

.button-boxCT {
 gap:.5rem;
 align-items:center;
 display:flex;
 margin-top:1.5rem;

}

.add-buttonCT{
transition-timing-function:cubic-bezier(.4,0,.2,1);
transition-duration:.2s;
transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
background-color:rgb(255 255 255/1);
color:rgb(0 0 0/1);
font-weight:600;
font-size: .875rem;
line-height: 1.25rem;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;

}

.add-buttonCT.disable{
opacity:.7;
cursor:not-allowed;
}



.cancel-buttonCT {
 transition-timing-function:cubic-bezier(.4,0,.2,1);
 transition-duration:.2s;
 transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
 color:rgba(239,245,255,.639);
 font-weight:600;
 font-size: .875rem;
 line-height: 1.25rem;
 background-color: rgba(24,24,246,.009);
 border-color:rgba(24,24,246,.009);
 border-width:1px;
 border-radius:.375rem;
 gap:.25rem;
 padding: 0.5rem 1rem;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 margin-top: 1rem;
 justify-content:center;
 user-select:none;
 cursor:pointer;

}

.cancel-buttonCT:hover{
background-color: #44475a;
color: rgba(252,253,255,.936);
}

.labelCT{
 color:rgba(239,245,255,.693);
 font-size:.875rem;
 line-height:1.25rem;
 margin-bottom:7px;
}

H2{
font-size:1rem;
line-height:1.5rem;
color:white;
}
.inputCT{
margin-top:calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
margin-bottom:calc(.5rem * var(--tw-space-y-reverse));
background-color:rgba(189,200,255,.091);
border-color:rgba(212,228,254,.191);
border-width:1px;
border-radius:.375rem;
appearance:none;
margin:0;
padding:0;
font-size:.875rem;
line-height:1.25rem;
outline:2px solid transparent;
outline-offset:2px;
color: rgba(252,253,255,.936);
height: 2rem;
padding-left:.5rem;
padding-right:.5rem;
}

.dropdownCT{
margin-top:calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
margin-bottom:calc(.5rem * var(--tw-space-y-reverse));
background-color:#161720;
border-color:rgba(212,228,254,.191);
border-width:1px;
border-radius:.375rem;
margin:0;
padding:0;
font-size:.875rem;
line-height:1.25rem;
outline:2px solid transparent;
outline-offset:2px;
color: rgba(252,253,255,.936);
height: 2rem;
padding-left:.5rem;
padding-right:.5rem;

}

.addCT{
    transition-timing-function:cubic-bezier(.4,0,.2,1);
    transition-duration:.2s;
    transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
    background-color:rgb(255 255 255/1);
    color:rgb(0 0 0/1);
    font-weight:600;
    font-size: .875rem;
    line-height: 1.25rem;

        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 1rem;
}

.closeAddCT{
 background-color: rgba(24,24,246,.009);
 border-color:rgba(24,24,246,.009);
 border-width:1px;
 border-radius:.25rem;
 justify-content:center;
 align-items:center;
 cursor:pointer;
 display:flex;
 color: rgba(239,245,255,.693);
 right:1.5rem;
 position:absolute;
 top:37px;
}

.closeAddCT:hover{
background-color: #44475a;
color: rgba(252,253,255,.936);
}

select{
background-color: #CACFD2;
}


.calendar {
  background-color: rgba(212,228,254,.191);
  border-radius: .5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 317px;
  position: absolute;
  z-index: 1;
  display: none;
  border-width: 1px;
  border-color: rgba(212,228,254,.191);
}

.headerCT {
  background-color: #111217;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #2d3039;
}

#prevBtn,
#nextBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

#monthYear {
  font-size: 18px;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 10px;
  background-color: #05050a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: tomato;
}

.day {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  color: antiquewhite;
}

.day:hover{
background-color: #44475a;
color: rgba(252,253,255,.936);
}

.day.current {
  background-color: #3498db;
  color: black;
}

.day.selected {
  background-color: #2ecc71;
  color: black;
}
.truncated-text{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    position: absolute;
    margin-top: -1.5%;

}

.day.disabled{
color:#808080;
}

.day.current.disabled {
  background-color: #3498db;
  color: black;
}



.buttonCopy {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  background-color: rgb(31, 31, 31);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIconCopy {
  width: 24px;
  transition-duration: .3s;
}

.svgIconCopy path {
  fill: white;
}

.buttonCopy:hover {


  transition-duration: .3s;
  background-color: rgba(189,200,255,.091);
  align-items: center;
}



.buttonCopy:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.menu {

    position: fixed;
    background-color: #2d2e33;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 9px;
    border-radius: 5px;
    z-index: 20;
    width:124px;
}











/* tooltip settings ÃƒÂ°Ã…Â¸Ã¢â‚¬ËœÃ¢â‚¬Â¡ */

.copy {
  /* button */
  --button-bg: #353434;
  --button-hover-bg: #464646;
  --button-text-color: #CCCCCC;
  --button-hover-text-color: #8bb9fe;
  --button-border-radius: 5px;
  --button-diameter: 24px;
  --button-outline-width: 1px;
  --button-outline-color: rgb(141, 141, 141);
  /* tooltip */
  --tooltip-bg: #f4f3f3;
  --toolptip-border-radius: 4px;
  --tooltip-font-family: Menlo, Roboto Mono, monospace;
  /* ÃƒÂ°Ã…Â¸Ã¢â‚¬ËœÃ¢â‚¬Â  this field should not be empty */
  --tooltip-font-size: 12px;
  /* ÃƒÂ°Ã…Â¸Ã¢â‚¬ËœÃ¢â‚¬Â  this field should not be empty */
  --tootip-text-color: rgb(50, 50, 50);
  --tooltip-padding-x: 7px;
  --tooltip-padding-y: 7px;
  --tooltip-offset: 8px;
  /* --tooltip-transition-duration: 0.3s; */
  /* ÃƒÂ°Ã…Â¸Ã¢â‚¬ËœÃ¢â‚¬Â  if you need a transition,
  just remove the comment,
  but I didn't like the transition :| */
}

.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: #2d2e33;
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  width: 110px;
}

.tooltip {
  position: absolute;
  opacity: 0;
  visibility: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font: var(--tooltip-font-size) var(--tooltip-font-family);
  color: var(--tootip-text-color);
  background: var(--tooltip-bg);
  padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
  border-radius: var(--toolptip-border-radius);
  pointer-events: none;
  transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  content: attr(data-text-initial);
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: calc(var(--tooltip-padding-y) / 2 * -1);
  width: var(--tooltip-padding-y);
  height: var(--tooltip-padding-y);
  background: inherit;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -999;
  pointer-events: none;
}

.copy svg {
  position: absolute;
  top: 50%;
  left: 11%;
  transform: translate(-50%, -50%);
}

.checkmark {
  display: none;
}

/* actions */

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
  content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
  display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
  display: block;
}

.copy:hover,
.copy:focus {
  background-color: var(--button-hover-bg);
}

.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}




.svg-container:hover path {
  stroke: #ff6b6dfc;

}

.svg-container:hover .spanH {
  color: #ff6b6dfc;

}

.svg-container:hover .copy {
    background-color: #280509;
}

.svg-container:hover{
    background-color: #280509;
}

.spanH{
color:#cacfd7;
position: absolute;
left: 32px;
font-size: .85rem;
display: flex;
top: 2px;
}