<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashbo.css" th:href="@{/css/dashbo.css}">
    <link rel="stylesheet" href="../static/css/tokens.css" th:href="@{/css/tokens.css}">
    <link rel="stylesheet" href="../static/css/test.css" th:href="@{/css/test.css}">
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet"/>
    <link rel="icon"
          href="https://res.cloudinary.com/dtljcfmr3/image/upload/v1701396595/WhatsApp_Image_2023-11-20_at_9.19.01_PM_qwhxsd.jpg"
          type="image/png">
    <link rel="stylesheet" href="../static/css/sidebar.css" th:href="@{/css/sidebar.css}">
    <link href='https://fonts.googleapis.com/css?family=K2D' rel='stylesheet'>


</head>


<div class="app">

    <div class="app-body">
        <div class="app-body-navigation">


            <div  class="sidebard">
                <ol style="margin-left: -25px;">



                    <li>
                        <div style="display:flex; margin-bottom:30px;">


                            <div class="cube">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#ffffff" d="m1.33 19l-.6-1.036l4.33-2.5L7.103 19zm13.856 0H9.412l-3.619-6.268l4.33-2.5zm8.083 0h-5.774l-6.64-11.5l4.33-2.5z"/></svg>
                            </div>

                            <span  class="titleside" >Adidas API</span>



                        </div>

                    </li>


                    <li>
                        <div  class="containerside" onclick="toggleSection('dashboard');">
                            <svg class="svgside" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m9.02 2.84-5.39 4.2C2.73 7.74 2 9.23 2 10.36v7.41c0 2.32 1.89 4.22 4.21 4.22h11.58c2.32 0 4.21-1.9 4.21-4.21V10.5c0-1.21-.81-2.76-1.8-3.45l-6.18-4.33c-1.4-.98-3.65-.93-5 .12ZM12 17.99v-3"/>
                            </svg>


                            <span class="ItemName">Dashboard</span>
                        </div>
                    </li>
                    <li>
                        <div  class="containerside" onclick="toggleSection('token');">
                            <svg class="svgside" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.91 11.12c0 4.89-3.55 9.47-8.4 10.81-.33.09-.69.09-1.02 0-4.85-1.34-8.4-5.92-8.4-10.81V6.73c0-.82.62-1.75 1.39-2.06l5.57-2.28c1.25-.51 2.66-.51 3.91 0l5.57 2.28c.76.31 1.39 1.24 1.39 2.06l-.01 4.39Z"/>
                            </svg>

                            <span class="ItemName">Tokens</span>
                        </div>
                    </li>
                    <li>
                        <div class="containerside" onclick="toggleSection('addProduct');">
                            <svg class="svgside" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M7.5 7.67V6.7c0-2.25 1.81-4.46 4.06-4.67a4.5 4.5 0 0 1 4.94 4.48v1.38M9 22h6c4.02 0 4.74-1.61 4.95-3.57l.75-6C20.97 9.99 20.27 8 16 8H8c-4.27 0-4.97 1.99-4.7 4.43l.75 6C4.26 20.39 4.98 22 9 22Z"/>
                                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.495 12h.01m-7.01 0h.008"/>
                            </svg>



                            <span  class="ItemName">New Product</span>

                        </div>
                    </li>


                    <li>
                        <div class="containerside" onclick="toggleSection('ViewAllP');">
                            <svg class="svgside" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18 7v10c0 .62-.02 1.17-.09 1.66C17.62 21.29 16.38 22 13 22h-2c-3.38 0-4.62-.71-4.91-3.34C6.02 18.17 6 17.62 6 17V7c0-.62.02-1.17.09-1.66C6.38 2.71 7.62 2 11 2h2c3.38 0 4.62.71 4.91 3.34.07.49.09 1.04.09 1.66Z"/>
                                <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 17c0 .62.02 1.17.09 1.66-.14.01-.27.01-.42.01h-.34C2.67 18.67 2 18 2 15.33V8.67C2 6 2.67 5.33 5.33 5.33h.34c.15 0 .28 0 .42.01C6.02 5.83 6 6.38 6 7v10Zm16-8.33v6.66c0 2.67-.67 3.34-3.33 3.34h-.34c-.15 0-.28 0-.42-.01.07-.49.09-1.04.09-1.66V7c0-.62-.02-1.17-.09-1.66.14-.01.27-.01.42-.01h.34C21.33 5.33 22 6 22 8.67Z"/>
                            </svg>

                            <span class="ItemName">All Product</span>

                        </div>
                    </li>

                    <li style="position:absolute; bottom:-10px;">
                        <div class="containerProfile">

                            <div >
                                <img class="imgUser" th:src="${fullImgUser}">
                            </div>
                            <div class="dataUserP">
                                <span th:text="${#strings.length(fullName) <= 15 ? fullName : #strings.substring(fullName, 0, 15)}" style="font-size: 13px; margin-left:7px;color:white; width:200px;"></span>
                                <span th:text="${fullEmail}" style="font-size: 13px; margin-left:7px;color:#999"></span>
                            </div>

                            <div class="btnLogout">

                                <form th:action="@{/logout}" method="post">
                                    <button type="submit" style="background:transparent">
                                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.9 7.56c.31-3.6 2.16-5.07 6.21-5.07h.13c4.47 0 6.26 1.79 6.26 6.26v6.52c0 4.47-1.79 6.26-6.26 6.26h-.13c-4.02 0-5.87-1.45-6.2-4.99M15 12H3.62m2.23-3.35L2.5 12l3.35 3.35"/>
                                        </svg>
                                    </button>

                                </form>

                            </div>



                        </div>
                    </li>

                </ol>

                <div id="btnO"  style="display:flex;width: 50px;height: 40px;align-items: center; margin-top:19px; margin-left:5px;">

                    <svg  class="open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="m8.91 19.92 6.52-6.52c.77-.77.77-2.03 0-2.8L8.91 4.08"/>
                    </svg>



                </div>



            </div>

        </div>
        <div class="app-body-main-content" style="min-width: 130vh;">

            <div id="contenido" class="content">

                <div th:if="${tokenA}" th:attr="data-successT=${tokenA}"></div>


                <div class="dashboard active ">
                    <section class="service-section" style="margin-top: -20px;">


                        <div class="tiles">
                            <article class="tile">
                                <div class="tile-header">
                                    <i class="ph-lightning-light"></i>
                                    <h3>
                                        <span>Electricity</span>
                                        <span>UrkEnergo LTD.</span>
                                    </h3>
                                </div>
                                <a href="#">
                                    <span>Go to service</span>
                                    <span class="icon-button">
                                    <i class="ph-caret-right-bold"></i>
                                </span>
                                </a>
                            </article>
                            <article class="tile">
                                <div class="tile-header">
                                    <i class="ph-fire-simple-light"></i>
                                    <h3>
                                        <span>Heating Gas</span>
                                        <span>Gazprom UA</span>
                                    </h3>
                                </div>
                                <a href="#">
                                    <span>Go to service</span>
                                    <span class="icon-button">
                                    <i class="ph-caret-right-bold"></i>
                                </span>
                                </a>
                            </article>
                            <article class="tile">
                                <div class="tile-header">
                                    <i class="ph-file-light"></i>
                                    <h3>
                                        <span>Tax online</span>
                                        <span>Kharkov 62 str.</span>
                                    </h3>
                                </div>
                                <a href="#">
                                    <span>Go to service</span>
                                    <span class="icon-button">
                                    <i class="ph-caret-right-bold"></i>
                                </span>
                                </a>
                            </article>
                        </div>

                    </section>

                </div>


                <div style="position: relative;top: -15%;" class="token">
                    <div class="containerCT">

                        <div style="display:flex;  justify-content:end;">
                            <div style="display:flex; margin-bottom:20px">
                                <button id="add" class="addCT">+ New token</button>


                            </div>
                        </div>


                        <div class="sectionCT">

                            <table class="tableCT">

                                <thead style="background:rgba(189,200,255,.091); width:2rem;">
                                <tr>
                                    <th class="thtd">Name</th>
                                    <th class="thtd">Token</th>
                                    <th class="thtd">Permission</th>
                                    <th class="thtd">Created</th>
                                    <th class="thtd">Expiration</th>

                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="token : ${tokens}">
                                    <td th:text="${#strings.length(token.name) <= 10 ? token.name : #strings.substring(token.name, 0, 10) + '...'}"
                                        style="text-align: left; padding-left: .75rem;"></td>
                                    <td style="text-align: initial;">
                                        <span th:text="${token.token}" class="truncated-text"></span>
                                    </td>
                                    <td th:text="${token.access}"></td>
                                    <td th:text="${#strings.length(token.create) <= 10 ? token.create : #strings.substring(token.create, 0, 10)+ ' ' }"></td>
                                    <td th:text="${#strings.length(token.expiration) <= 10 ? token.expiration : #strings.substring(token.expiration, 0, 10)+ ' ' }"></td>
                                    <td style="border-top-width: 0px;border-bottom-width: 0px;text-align: center;position: absolute;right: 9px;margin-top: 2.5px;">

                                        <button class="buttonCopy"   th:attr="data-tokenid=${token.id}" onclick="mostrarMenu(this)">
                                            <svg fill="none" height="24" viewBox="0 0 24 24" width="24"
                                                 class="svgIconCopy" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12Z"
                                                      fill="currentColor"></path>
                                                <path d="M9 12C9 12.5523 8.55228 13 8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11C8.55228 11 9 11.4477 9 12Z"
                                                      fill="currentColor"></path>
                                                <path d="M17 12C17 12.5523 16.5523 13 16 13C15.4477 13 15 12.5523 15 12C15 11.4477 15.4477 11 16 11C16.5523 11 17 11.4477 17 12Z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </button>

                                    </td>

                                </tr>

                                </tbody>
                            </table>

                            <div th:if="${empty}" th:attr="data-successEm=${empty}" style="display: flex;justify-content: center;margin-top: 30px;">
                               <span>No tienes tokens, crea uno</span>
                            </div>

                        </div>
                        <div id="menu" class="menu" style="display: none;">



                            <div  style="display:flex">
                                <button class="copy">
                                <span data-text-end="Copied!" data-text-initial="Copy to clipboard"
                                      class="tooltip"></span>
                                    <span>
                                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 13.1251L20 6.00003C20 4.34317 18.6568 3.00002 17 3.00003L9.875 3.00012M14 21.0001L7.25 21.0001C6.00736 21.0001 5 19.9928 5 18.7501L5 9.00012C5 7.75747 6.00736 6.75011 7.25 6.75011L14 6.75011C15.2426 6.75011 16.25 7.75747 16.25 9.00011L16.25 18.7501C16.25 19.9928 15.2426 21.0001 14 21.0001Z" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                    </svg>
                                  </span>
                                    <span class="spanH">Copiar</span>
                                </button>

                            </div>




                            <form action="/deleteToken" method="POST">
                                <input type="hidden" id="tokenid" name="tokenid" />
                                <div class="svg-container" style="display:flex; border-radius: 5px;" type="submit">

                                    <button class="copy" type="submit">
                                        <span>
                                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="18" height="18">
                                                <path d="M4 6.17647H20M9 3H15M15.5 21H8.5C7.39543 21 6.5 20.0519 6.5 18.8824L6.0434 7.27937C6.01973 6.67783 6.47392 6.17647 7.04253 6.17647H16.9575C17.5261 6.17647 17.9803 6.67783 17.9566 7.27937L17.5 18.8824C17.5 20.0519 16.6046 21 15.5 21Z" stroke="white" stroke-width="2" stroke-linecap="round"/>
                                            </svg>
                                        </span>
                                        <span class="spanH">Borrar</span>
                                    </button>

                                </div>
                            </form>

                        </div>
                    </div>

                    <div class="container2CT">

                        <h2>Add new token</h2>
                        <button id="closeadd" class="closeAddCT">

                            <svg fill="none" height="24" viewBox="0 0 24 24" width="24"
                                 xmlns="http://www.w3.org/2000/svg" style="display:block">
                                <path d="M17.25 6.75L6.75 17.25" stroke="currentColor" stroke-linecap="round"
                                      stroke-linejoin="round" stroke-width="1.5"></path>
                                <path d="M6.75 6.75L17.25 17.25" stroke="currentColor" stroke-linecap="round"
                                      stroke-linejoin="round" stroke-width="1.5"></path>
                            </svg>

                        </button>

                        <form action="/crearToken" method="POST">
                            <div class="boxCT">
                                <label class="labelCT">Nombre</label>
                                <input class="inputCT" id="nameToken" name="nameToken" placeholder="Your Token name" required>
                            </div>

                            <div class="boxCT">
                                <label class="labelCT">Permisos</label>

                                <select class="dropdownCT" name="permisos" id="permisos">

                                    <option value="full">Acceso total</option>

                                    <option value="create">Crear</option>

                                    <option value="read">Consultar</option>

                                    <option value="update">Actualizar</option>

                                    <option value="delete">Eliminar</option>




                                </select>
                            </div>

                            <div class="boxCT">

                                <label class="labelCT">Duración</label>
                                <div  style="width: 24px;height: 24px;margin-left: 70px;margin-top: -28px;margin-bottom: 10px;">
                                    <svg id="ca" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5" d="M8 2v3m8-3v3m0-1.5c3.33.18 5 1.45 5 6.15v6.18c0 4.12-1 6.18-6 6.18H9c-5 0-6-2.06-6-6.18V9.65c0-4.7 1.67-5.96 5-6.15h8Zm4.75 14.1H3.25"/>
                                        <path fill="#fff" d="M12 8.25c-1.23 0-2.27.67-2.27 1.97 0 .62.29 1.09.73 1.39-.61.36-.96.94-.96 1.62 0 1.24.95 2.01 2.5 2.01 1.54 0 2.5-.77 2.5-2.01 0-.68-.35-1.27-.97-1.62.45-.31.73-.77.73-1.39 0-1.3-1.03-1.97-2.26-1.97Zm0 2.84c-.52 0-.9-.31-.9-.8 0-.5.38-.79.9-.79s.9.29.9.79c0 .49-.38.8-.9.8ZM12 14c-.66 0-1.14-.33-1.14-.93 0-.6.48-.92 1.14-.92.66 0 1.14.33 1.14.92 0 .6-.48.93-1.14.93Z"/>
                                    </svg>

                                </div>
                                <input style="z-index:-10;"  class="inputCT" id="dateInput" name="dateInput" placeholder="mm/dd/yyyy" required >


                            </div>

                            <div class="button-boxCT">
                                <button class="add-buttonCT">Add</button>
                                <button type="button" id="cancelButton" class="cancel-buttonCT">Cancel</button>

                            </div>
                        </form>



                        <div class="calendar" id="calendar" style="display: none;">
                            <div class="headerCT">
                                <button id="prevBtn">&lt;</button>
                                <h2 class="h2CT" id="monthYear">enero 2024</h2>
                                <button id="nextBtn">&gt;</button>
                            </div>
                            <div class="days" id="daysContainer">
                                <div class="day">1</div>
                                <div class="day">2</div>
                                <div class="day">3</div>
                                <div class="day">4</div>
                                <div class="day">5</div>
                                <div class="day">6</div>
                                <div class="day">7</div>
                                <div class="day">8</div>
                                <div class="day">9</div>
                                <div class="day">10</div>
                                <div class="day">11</div>
                                <div class="day">12</div>
                                <div class="day">13</div>
                                <div class="day current">14</div>
                                <div class="day">15</div>
                                <div class="day">16</div>
                                <div class="day">17</div>
                                <div class="day">18</div>
                                <div class="day">19</div>
                                <div class="day">20</div>
                                <div class="day">21</div>
                                <div class="day">22</div>
                                <div class="day">23</div>
                                <div class="day">24</div>
                                <div class="day">25</div>
                                <div class="day">26</div>
                                <div class="day">27</div>
                                <div class="day">28</div>
                                <div class="day">29</div>
                                <div class="day">30</div>
                                <div class="day">31</div>
                            </div>
                        </div>


                    </div>


                </div>


                <div class="addProduct" style="padding-top:30px;">
                    <form action="/guardar" method="POST" enctype="multipart/form-data" class="form">


                        <div class="element-1" style="width: 300px;height: auto; margin-left:120px;">
                            <div class="grid">
                                <div class="card">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="-3 -3 30 30" fill="none"
                             stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg>
                    </span>
                                    <h4>Image 1</h4>


                                    <span class="dragBox">

                            <div class="img" id="preview">
                                <h5>Darg and Drop image here</h5>
                            </div>

                            <input type="file" class="areadrop" onchange="dragNdrop(event,'preview')"
                                   ondragover="drag()" ondrop="drop()" name="uploadFile" id="uploadFile" required=""
                                   accept="image/*">
                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="section">

                            <div class="one">

                                <div th:if="${error}" th:attr="data-error=${error}"></div>
                                <div th:if="${success}" th:attr="data-success=${success}"></div>
                                <div th:if="${empty}" th:attr="data-empty=${empty}"></div>

                                <input type="text" id="name" class="aks-input" placeholder="Name" name="name"
                                       required="">
                                <input type="text" id="price" class="price" placeholder="$-Price" name="price"
                                       maxlength="11" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                       data-type="currency" required="" style="position:absolute; top:49%;">
                                <textarea id="descripcion" placeholder="Description" name="descripcion" required=""
                                          style="resize:none; top:87px; position:absolute; height:80px; width:250px;border-radius: 7px;border: 0.1rem solid #bbc1e1;padding: 10px;"></textarea>
                                <input type="number" id="quantity" class="price" placeholder="STK" name="quantity"
                                       required="" style="position:absolute; top:49%; width:70px;right: 14px;">
                                <input type="text" id="category" class="price" placeholder="Category" name="category"
                                       required="" style="position:absolute; top:49%; right:86px;">
                                <div class="group"
                                     style="display:flex; line-height:30px; /*! max-width:200px; */ top:63%;  position:absolute;">


                                    <svg class="iconTS" xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                                         viewBox="0 0 448 512">
                                        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                        <path fill="#ffffff"
                                              d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"></path>
                                        <title id="title">Token válido</title>
                                    </svg>

                                    <svg class="iconTE" xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                                         viewBox="0 0 384 512">
                                        <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                        <path fill="#ffffff"
                                              d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"></path>
                                        <title id="title" th:text="${info}"></title>
                                    </svg>


                                    <input id="token" name="token" class="input" th:value="${token}" readonly
                                           type="text">
                                </div>

                                <button class="button-form" id="saveP" style="position:absolute; top:80%;">
                                    <span>Guardar</span>
                                </button>



                            </div>


                        </div>

                        <div class="element-3" style="width: 300px;height: auto; margin-left:120px; ">
                            <div class="grid">
                                <div class="card" style="margin-top: -30px;">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="-3 -3 30 30" fill="none"
                             stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path>
                        </svg>
                    </span>
                                    <h4>Image 2</h4>


                                    <span class="dragBox">

                        <div class="img" id="preview2">
                            <h5>Darg and Drop image here</h5>
                        </div>

                        <input type="file" class="areadrop" onchange="dragNdrop(event,'preview2')" ondragover="drag()"
                               ondrop="drop()" name="uploadFile2" id="uploadFile2" required="" accept="image/*">
                    </span>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>


                <div class="ViewAllP">
                    <h1>Aquí va la pagina para ver todos los productos</h1>
                </div>


                <div class="Photo">
                    <h1>Aquí va la pagina para ver las fotos de los productos</h1>

                </div>

            </div>


        </div>
    </div>
</div>

<body style="font-family: K2D;font-size: 17px;font-weight: bold;">
<script src="../static/css/JavaSD.js" th:src="@{/css/JavaSD.js}"></script>
<script src="../static/css/AddToke.js" th:src="@{/css/AddToke.js}"></script>
<script src="../static/css/javaTest.js" th:src="@{/css/javaTest.js}"></script>
<script src="../static/css/sidebar.js" th:src="@{/css/sidebar.js}"></script>

</body>

</html>