<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tokens.css" th:href="@{/css/tokens.css}">
</head>

<div class="containerCT">

    <div style="display:flex; align-items:center; justify-content:space-between;">
        <h1 style="color:white">Tokens</h1>

        <div style="display:flex;">
            <button id="add" class="addCT">+ New token</button>


        </div>
    </div>


    <div class="sectionCT">
        <table class="tableCT">

            <thead style="background:rgba(189,200,255,.091); width:2rem;">
            <tr>
                <th class="thtd">Name</th>
                <th class="thtd">Onboarding</th>
                <th class="thtd">Token</th>
                <th class="thtd">Permission</th>
                <th class="thtd">Last Used</th>
                <th class="thtd">Created</th>
            </tr>
            </thead>

            <tr>
                <td>Onboarding</td>
                <td>‒‒‒‒‒‒‒‒‒</td>
                <td>re_QuvsQCTS...</td>
                <td>Sending access</td>
                <td>1 day ago</td>
                <td>25 days ago</td>
            </tr>


            <tr>
                <td>Onboarding</td>
                <td>‒‒‒‒‒‒‒‒‒</td>
                <td>re_QuvsQCTS...</td>
                <td>Sending access</td>
                <td>1 day ago</td>
                <td>25 days ago</td>
            </tr>
        </table>
    </div>

</div>

<div class="container2CT">

    <h2>Add new token</h2>
    <button id="closeadd" class="closeAddCT">

        <svg fill="none" height="24" viewBox="0 0 24 24" width="24"
             xmlns="http://www.w3.org/2000/svg" style="display:block">
            <path d="M17.25 6.75L6.75 17.25" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.5"
            ></path>
            <path d="M6.75 6.75L17.25 17.25" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="1.5"
            ></path>
        </svg>

    </button>

    <form action="/crearToken" method="POST" >
        <div class="boxCT">
            <label class="labelCT">Nombre</label>
            <input class="inputCT" placeholder="Your Token name">
        </div>

        <div class="boxCT">
            <label class="labelCT">Permisos</label>

            <select class="dropdownCT" name="lenguajes" id="lang">

                <option value="full">Acceso total</option>

                <option value="create">Crear</option>

                <option value="read">Consultar datos</option>

                <option value="delete">Eliminar datos</option>

                <option value="update">Actualizar datos</option>



            </select>
        </div>

        <div class="boxCT">
            <label class="labelCT">Duración</label>
            <input class="inputCT" id="dateInput" name="dateInput" placeholder="dd/mm/yyyy">
        </div>

        <div class="button-boxCT">
            <button class="add-buttonCT">Add</button>
            <button class="cancel-buttonCT">Cancel</button>
        </div>
    </form>


    <div class="calendar" id="calendar" >
        <div class="headerCT">
            <button id="prevBtn">&lt;</button>
            <h2 class="h2CT" id="monthYear">Month Year</h2>
            <button id="nextBtn">&gt;</button>
        </div>
        <div class="days" id="daysContainer"></div>
    </div>


</div>
<body class="bodyCT">
<script src="../static/css/AddToke.js" th:src="@{/css/AddToke.js}"></script>
</body>
</html>