<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tokens.css" th:href="@{/css/tokens.css}">
    <title>API API Keys</title>
</head>
<body>
<div class="container">

    <div style="display:flex; align-items:center; justify-content:space-between;">
        <h1>Tokens</h1>

        <div style="display:flex;">
            <button>+ New token</button>


        </div>
    </div>


    <div class="section">
        <table>

            <thead style="background:rgba(189,200,255,.091); width:2rem;">
            <tr>
                <th class="thtd">Name</th>
                <th class="thtd">Onboarding</th>
                <th class="thtd">Token</th>
                <th class="thtd">Permission</th>
                <th class="thtd">Last Used</th>
                <th class="thtd">Created</th>
            </tr>
            </thead>

            <tr>
                <td>Onboarding</td>
                <td>‒‒‒‒‒‒‒‒‒</td>
                <td>re_QuvsQCTS...</td>
                <td>Sending access</td>
                <td>1 day ago</td>
                <td>25 days ago</td>
            </tr>


            <tr>
                <td>Onboarding</td>
                <td>‒‒‒‒‒‒‒‒‒</td>
                <td>re_QuvsQCTS...</td>
                <td>Sending access</td>
                <td>1 day ago</td>
                <td>25 days ago</td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>