<!DOCTYPE html>
<html>
<head>
    <title>Formulario para crear un GroceryItem</title>
</head>
<body>
<h1>Formulario para crear un GroceryItem</h1>
<form action="/guardar" method="POST" enctype="multipart/form-data">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id"><br><br>

    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="descripcion">Descripcion:</label>
    <input type="text" id="descripcion" name="descripcion"><br><br>

    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="quantity"><br><br>

    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category"><br><br>

    <label for="img">Imagen:</label>
    <input type="file" id="img" name="img" accept="image/*"><br><br>

    <input type="submit" value="Guardar">
</form>
</body>
</html>
