<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Formulario</title>
    <link rel="stylesheet" href="../static/css/test.css" th:href="@{/css/test.css}">
    <link rel="stylesheet" href="../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet"/>
    <link rel="icon" href="https://res.cloudinary.com/dtljcfmr3/image/upload/v1701396595/WhatsApp_Image_2023-11-20_at_9.19.01_PM_qwhxsd.jpg" type="image/png">
</head>


<form action="/guardar" method="POST"  enctype="multipart/form-data" class="form">



    <div class="element-1" style="width: 300px;height: auto; margin-left:40px;">
        <div class="grid">
            <div class="card">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17" height="17"
                         viewBox="-3 -3 30 30"
                         fill="none" stroke="#ffffff"
                         stroke-width="1"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path></svg>
                </span>
                <h4>Image 1</h4>


                <span class="dragBox">

                        <div class="img" id="preview">
                            <h5>Darg and Drop image here</h5>
                        </div>

                        <input type="file" class="areadrop" onChange="dragNdrop(event,'preview')" ondragover="drag()" ondrop="drop()" name="uploadFile" id="uploadFile" required accept="image/*"/>
                </span>
            </div>
        </div>
    </div>

    <div class="section">

        <div class="one">
            <div th:if="${error}" th:attr="data-error=${error}"></div>
            <div th:if="${success}" th:attr="data-success=${success}"></div>

            <input  type="text" id="name" class="aks-input" placeholder="Name" name="name" required>
            <input type="text" id="price" class="price" placeholder="$-Price" name="price" maxlength="11" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" required style="position:absolute; top:50%" >
            <textarea  id="descripcion"  placeholder="Description" name="descripcion" required style="resize:none; top:90px; position:absolute; height:150px; width:250px;border-radius: 7px;border: 0.1rem solid #bbc1e1;padding: 10px;"></textarea>
            <input type="number" id="quantity" class="price" placeholder="in Stock" name="quantity" required style="position:absolute; top:60%; width:100px;">
            <input type="text" id="category" class="price" placeholder="Category" name="category" required style="position:absolute; top:50%; right:90px;">
            <div class="group" style="display:flex; line-height:30px; max-width:200px; top:90%; margin-left: 35px; position:absolute;">


                <svg class="iconTS" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                    <title id="title">Token válido</title>
                </svg>

                <svg class="iconTE" xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/>
                    <title id="title">Token vencido, genere uno nuevo</title>
                </svg>



                <input id="token" name="token" class="input" th:value="${token}" readonly type="text" >
            </div>
            <input type="submit" value="Create"  class="btn-form" style="position:absolute; top:70%;">


        </div>






    </div>

    <div class="element-3" style="width: 300px;height: auto; margin-left:40px; ">
        <div class="grid">
            <div class="card" style="margin-top: -30px;">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="17" height="17" viewBox="-3 -3 30 30"
                         fill="none" stroke="#ffffff" stroke-width="1"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path>
                    </svg>
                </span>
                <h4>Image 2</h4>


                <span class="dragBox">

                    <div class="img" id="preview2">
                        <h5>Darg and Drop image here</h5>
                    </div>

                    <input type="file" class="areadrop" onChange="dragNdrop(event,'preview2')" ondragover="drag()" ondrop="drop()" name="uploadFile2" id="uploadFile2" required accept="image/*"/>
                </span>
            </div>
        </div>
    </div>
    
</form>

<body>
    <script src="../static/css/javaTest.js" th:src="@{/css/javaTest.js}"></script>
</body>

</html>