<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet"/>
    <link rel="icon" href="https://res.cloudinary.com/dtljcfmr3/image/upload/v1701396595/WhatsApp_Image_2023-11-20_at_9.19.01_PM_qwhxsd.jpg" type="image/png">
</head>
<body>


<div class="v1_3">





    <span class="v1_4">adidas for developers</span>
    <span class="v1_22">Unofficial adidas API to implement in your projects or practice</span>


    <div class="v1_36"></div>


    <div class="v1_25"></div>

    <div href="#" class="hideen"></div>

    <a href="#" class="v1_32">
        <span id="enlaceRedireccion">Log in</span>
    </a>


    <div class="docker">
       <div class="children">
           <button class="button-27" role="button">Get start</button>
           <button class="button-28" role="button">Documentation</button>
       </div>
    </div>
</div>

<script src="../static/css/JavaSH.js" th:src="@{/css/JavaSH.js}"></script>

</body>
</html>




